@import "tailwindcss";

@source "../index.html";
@source "../src/**/*.{js,ts,jsx,tsx}";

@layer base {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  html, body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  #root {
    height: 100%;
    width: 100%;
  }
}

.range-slider {
  /* Slider */
  .input-range {
    -webkit-appearance: none;
    height: 200px;
    border-radius: 5px;
    background: #ccc;
    outline: none;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
  }
}

/* Firefox Overrides */
::-moz-range-track {
  background: #ccc;
  border: 0;
}

input::-moz-focus-inner {
  border: 0;
}
