@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@source "../index.html";
@source "../src/**/*.{js,ts,jsx,tsx}";

@layer base {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    font-family: sans-serif;
    @apply bg-white dark:bg-black text-gray-900 dark:text-gray-100 transition-colors;
  }
}

.range-slider {
  /* Slider */
  .input-range {
    -webkit-appearance: none;
    height: 200px;
    border-radius: 5px;
    background: #ccc;
    outline: none;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
  }
}

/* Firefox Overrides */
::-moz-range-track {
  background: #ccc;
  border: 0;
}

input::-moz-focus-inner {
  border: 0;
}

.stripe-indicator {
  background-image: repeating-linear-gradient(
    45deg,
    black,
    black 2px,
    white 2px,
    white 4px
  );
  background-size: 4px 4px;
  animation: stripeMove 0.5s linear infinite;
}

@keyframes stripeMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 4px 0;
  }
}
